WHISPER_CPP_BIN=
WHISPER_MODEL_PATH=
WHISPER_MODEL_PATH_LARGE_V3_TURBO_Q8_0=
WHISPER_MODEL_PATH_LARGE_V3_TURBO_Q5_0=
WHISPER_MODEL_PATH_LARGE_V3=
YTDLP_BIN=yt-dlp
FFMPEG_BIN=ffmpeg
YOUTUBE_CACHE_DIR=
UPLOAD_MAX_BYTES=2147483648
PORT=8787
OPENAI_API_KEY=
